<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1 class="header" >VACCINATION MANAGEMENT SYSTEM</h1>

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                  <h3>Consumers order</h3>
                  <form>
                      <div class="form-group">consumers name
                          <input type="text" class="form-control" placeholder=" consumers name *" value="" />
                      </div>
                      <div class="form-group">Vaccine type
                          <input type="text" class="form-control" placeholder="vaccine type *" value="" />
                      </div>
                      <div class="form-group">Consumers adress
                        <input type="text" class="form-control" placeholder="consumers address *" value="" />
                    </div>
                    <div class="form-group">quantity of vaccine
                      <input type="text" class="form-control" placeholder="quantity of vaccine*" value="" />
                  </div>
                      <div class="form-group">
                          <input type="submit" class="btnSubmit"   value="order" />
                      </div>
                      <div class="form-group">
                      </div>
                  </form>
              </div>
          </div>

